@media screen and (min-width: 1024px) {
  .social-container {
	display: flex;
	text-align: left;
	flex-direction: column;
  }
}


a.social {
  width: 30px;
  height: 100%;
  padding-top: 5px;
  font-size: 18px;
  color: orange;
  
}

a.social:hover {
  transform: translateY(-2px);
}

a.facebook {
  color: #FF6F1E;
}

a.youtube {
  color: #FF6F1E;
}

a.instagram {
  color: #FF6F1E;
}

a.linkedin {
  color: #FF6F1E;
}